.home {
  
}

.toolbar-title {
    color: color($colors, secondary);
}

ion-content {
    background: color($colors, secondary);
}

.text-primary{
    color: color($colors, primary);
}

.text-secondary{
    color: color($colors, secondary);
}

.top-10-percent {
    margin-top: 10%;
}

.bottom-10-percent {
    bottom: 10%;
}

.text-center-container {
    height: 30px;
    width: 50%;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.centered-both {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.centered-middle {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#scan-border {
    width: 75%;
}

#scan-qr {
    width: 75%;
}

#start-scan {
    width: 50%;
}

.button-light {
    color: color($colors, secondary);
}